{% extends 'base.html' %} {% block content %}
<title>{% block title %}About Us{% endblock title %}</title>
<br /><br /><br /><br />
<div class="AboutDiv1">
  <div class="AboutDiv2">
    <h1>About Us</h1>
    <p>
      Recognizing the need for a space where users of all ages can connect and
      share experiences without compromising on freedom, Elixer has crafted a
      digital environment that strikes a delicate balance. The platform is
      designed to be family-friendly, ensuring a safe online space for users,
      especially younger ones, while still empowering individuals with the
      freedom to express themselves. Elixer's commitment to user autonomy sets
      it apart, offering a refreshing alternative in the social media landscape.
    </p>
  </div>
</div>
{% endblock %}
