{% extends "base.html" %}
{% load static %}
<!---->
{% block title %}Settings for {{ channel.name }}{% endblock title %}
<!---->
{% block content %}
<br><br><br>
<div class="ChannelSettings1">
  <div class="ChannelSettings2">
<h2>Update Your Channel</h2>
<h5>*Leave fields blank for no change.</h5>
<h6 class="sensitiveContent" id="channelInfo">{{ channel.name }}</h6>
<form method="POST">
  {% csrf_token %} {% for field in form %}
  <h3>{{ field.name }}</h3>
  <p>{{ field }}</p>
  {% endfor %}
  <input type="submit" />
  {{ form.errors }}
</form>
<h2>Add People</h2>
<form method="POST">
  {% csrf_token %}
  <select name="selected_person" class="SelectAR">
    <option></option>
    {% for person in people_add %}
    <option>{{ person.username }}</option>
    {% endfor %}
    
  </select>
  <input type="submit" />
</form>
<h2>Remove People</h2>
<form method="POST">
  {% csrf_token %}
  <select name="person_to_remove" class="SelectAR">
    <option></option>
    {% for person in people_rm %}
    <option>{{ person.username }}</option>
    {% endfor %}    
  </select>
  <input type="submit" />
</form>
<br><br>
<div class="DeleDiv1">
  <div class="DeleDiv2">
  <h2>Danger Zone</h2>
  <button id="deleteChannel" class="DeleteButton">Delete Channel</button>
  <form method="POST" action={% url "delete_channel" %}>
    {% csrf_token %}
  <input type="hidden"  name="d" value="{{ channel.id }}"/>
  <input type="submit" name="cd" value="Confirm Delete Channel" class="sensitiveContent ConfirmDeleteButton" id="deleteChannelReal"/></form>
</div>
<script src={% static "main.js" %}></script>
<br><br>
</div>
</div>
{% endblock content %}
