{% extends 'base.html' %}

{% block content %}
<br><br><br><br>
  <div class="AboutDiv1">
    <div class="AboutDiv2">
    <h1>Contact Us</h1>
    <p>Email: <a href="mailto:Chcleland2@gmail.com" class="ContA">Chcleland2@gmail.com</a></p>
    <p>Phone: +1 (601) 573-7014</p>
    <br>
    <p>Email: <a href="mailto:fakeemail@example.com" class="ContA">micahg355be@gmail.com</a></p>
    <p>Phone: +1 (555) 765-4321</p>
    <br>
    <p>Email: <a href="mailto:fakeemail@example.com" class="ContA">test@example.com</a></p>
    <p>Phone: +1 (555) 342-1639</p>
    <br>
    <p>Email: <a href="mailto:fakeemail@example.com" class="ContA">gmail@example.com</a></p>
    <p>Phone: +1 (555) 846-1743</p>
    </div>
  </div>
{% endblock %}
