{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <h2>HIII erbhivb</h2>
    <button><a href="{% url 'logout' %}">Log Out</a></button>
    <!-- Log out button currently does not work, we may need a 'landing page' before any sign in. -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href={% static 'styles.css' %}>
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    {% block content %}{% endblock content %}
  </body>
</html>
