{% extends "SignRegister_base.html" %}
{% load static %} 
{% block title %}Welcome!{% endblock %}

{% block content %}
    <div class="landing-page">
        <h1>Welcome to Elixer!</h1>
        <p>Connect with fellow Users!</p>
        <div class="buttons">
            <a href="{% url 'register' %}" class="signup-button">Join the Adventure</a>
            <a href="{% url 'login' %}" class="login-button">Login to Explore</a>
        </div>
    </div>
    <br>
    <br>
    <center>
    <img src={% static "images/potion.png" %} width="250pt"/>
    </center>
{% endblock %}
