<!-- login.html -->
{% extends "SignRegister_base.html" %}
{% load widget_tweaks %}
{% block content %}
<br><br><br><br>
<div class="SignDiv">
    <br><br>
<div class="SignDiv2">
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <h2>Username:</h2>
    {% render_field form.username class="Input_" %}
    <h2>Password:</h2>
    {% render_field form.password class="Input_" %}
    <br><br>
    <button type="submit">Sign In</button>
    <br><br>
    {%for message in messages%}
    <p>{{message}}</p>
    {% endfor %}
</form>
</div>
<div class="Talign">
<p>Dont have a account? <a href="{% url "register" %}" class="Undark">Sign Up</a></p>
<br>
<div>
</div>
{% endblock content %}