{% extends 'base.html' %} {% load static %} {% block content %}
<h1>{{ user.username.title }}'s Profile</h1>
<h6 class="sensitiveContent" id="userInfo">{{ request.user.username }}</h6>

<div>
  {% if user.profile_picture %}
  <img src="{{ user.profile_picture.url }}" alt="{{ user.username }}" />
  {% else %}
  <img
    src="{% static 'images/dinosaur_profile_default.jpg' %}"
    alt="{{ user.username }}"
  />
  {% endif %}
</div>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  
  Profile Picture: {{ combined_form.profile_picture }}<br />
  First Name: {{ combined_form.first_name }}<br />
  Last Name: {{ combined_form.last_name }}<br />
  Username: {{ combined_form.username }}<br />
  Email: {{ combined_form.email }}<br/>
  
  
  <button type="submit">Update Profile</button>
</form>
<div>
  <button id="deleteAccount">Delete Account</button
  ><!-- Keep both buttons in this div -->
  <form method="POST" action="{% url "delete_account" %}">
    {% csrf_token %}
    <input
      type="submit"
      class="sensitiveContent"
      id="deleteAccountReal"
      name="d"
      value="Confirm Delete Account"
    />
  </form>
</div>

<script src={% static "main.js" %}></script>
{% endblock %}
