{% extends "SignRegister_base.html" %} {% load widget_tweaks %}
<!---->
{% block title %}User Registration{% endblock title %} {% block content %}
<br /><br /><br /><br />
<div class="SignDiv">
  <br /><br />
  <div class="SignDiv2">
    <h2>Signup</h2>
    <form method="post" action="{% url 'register' %}">
      {% csrf_token %}
      <div class="sensitiveContent">
        <h3>Select Group:</h3>
        {% render_field form.group class="Input_" %}
      </div>
      <br />
      <div class="RegDiv">
        <h3>Username: {% render_field form.username class="Input_" %}</h3>
      </div>
      <br />
      <div class="RegDiv">
        <h3>Email: {% render_field form.email class="Input_" %}</h3>
      </div>
      <br />
      <div class="RegDiv">
        <h3>Password: {% render_field form.password1 class="Input_" %}</h3>
      </div>
      <br />
      <div class="RegDiv">
        <h3>
          Repeat Password: {% render_field form.password2 class="Input_" %}
        </h3>
      </div>
      <br />

      <button type="submit" class="GoodLookinButton">Sign Up</button>
      {{form.errors}}
    </form>
  </div>

  <!-- Add a "Sign In" button that links to the login page -->
  <p class="Talign">
    Already have an account? <a href="{% url 'login' %}">Sign In</a>
  </p>
</div>
{% endblock content %}
