<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h2>Signup</h2>
    <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}

        <label for="{{ form.group.id_for_label }}">Select Group:</label>
        {{ form.group }}
        <br>
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
        <br>
        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
        <br>
        <label for="{{ form.password1.id_for_label }}">Password:</label>
        {{ form.password1 }}
        <br>
        <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
        {{ form.password2 }}
        <br>

        <button type="submit">Sign Up</button>
    </form>

    <!-- Add a "Sign In" button that links to the login page -->
    <p>Already have an account? <a href="{% url 'login' %}">Sign In</a></p>
</body>
</html>
